/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Custom Properties */

:root {
  --wit: rgb(255, 255, 255);
  --rood: rgb(255, 0, 0);
  --groen: rgb(0, 128, 0);
  --geel: rgb(255, 255, 0);
  --shadowgrijs: rgb(128, 128, 128);
  --zwart: rgb(0, 0, 0);
}

html, body {
  height: 200em;
  width: 100%;
  bottom:0;
  margin:0;
}

body {
  background-image: linear-gradient(45deg, #000000 , #130762);
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

/* header */
header {
  font-family: Arial, serif;
  display: flex;
  justify-content: center;
  height: 2em;
}


h1 {
  position:absolute;
  font-size: 3em;
  top: 5em;
  color:#fff;
  margin:0;
}

/* navigatie */
nav {
  background-color: none;
}

nav ul {
  list-style:none;
  padding:0.7em;
  display:flex;
  justify-content:center;
}

nav ul li {
  margin:0em;
  padding:0em;
  justify-items: center;
}

nav ul li a {
  font-family:verdana;
  color:white;
  text-decoration: none;
  padding: 12px;
}

nav ul li a:hover {
  color:rgb(45, 152, 156);
}

#visited {
  color:rgb(45, 152, 156);
}








